In [1]:
import pandas as pd
import re
from sqlalchemy import create_engine
import pyodbc
import sqlite3
from skygarden_1 import skygarden
from jumia_1 import jumia
from kilimall import mall

Jumia data

In [2]:
#loading jumia dataframe from jumia_1 
jm = jumia()

In [3]:
#Spliting long item description name to retreive the item name.
col_1 = jm['item_name'].str.split(' ')

In [4]:
#dropping rows with missing values
jm.dropna(inplace=True)

In [89]:
#Creating item_description column/series.
item_1 = jm['item_name'].str.lower()
item_description = []
for o in item_1:
    item_description.append(o)

In [90]:
col_1 = jm['item_name'].str.split(' ')

In [126]:
#creating brand column/series
brand = []
for m in col_1:
    brand.append(m[0].lower())

In [92]:
#Removing % sign from the discount column
remove_perc = jm['item_discount'].str.strip('%')

In [93]:
#removing minus sign from the discount values
remove_minus = remove_perc.str.strip('-')

In [94]:
#creating discount column
item_discount = []
for k in remove_minus:
    try:
        conv_dec = int(k)/100
    except:
        conv_dec = 0
    item_discount.append(conv_dec)

In [95]:
#removing ksh from the item_price column
remove_ksh = jm['item_price'].str.split(' ')

In [96]:
# creating item_price column
item_price = []
for l in remove_ksh:
    item_price.append(l[1].replace(',',''))

In [97]:
# removing ksh from old_item_price
remove_old_ksh = jm['item_old_price'].str.split(' ')

In [98]:
# creating old_item_price column
item_old_price = []
for n in remove_old_ksh:
    item_old_price.append(n[1].replace(',',''))

In [99]:
# Getting tv size fro the item name name column using reqular expressions and then creating tv_size column

pattern = '\s(\d{2})|(\d{2})"'
size_jm = []

for i in item_description:
    k = re.findall(pattern, i)
    size_jm.append(k)
    
jm_size = []

for i in size_jm:
    try:
        x, y = i[0]
        x_1 = int(x+y)/1
        jm_size.append(x_1)
    except:
        x, y = '-', '-'
        jm_size.append(x)

In [127]:
# joining the cleaned jumia data columns using a dict
jumia_dict = {'brand': brand,
              'item_description': item_description,
              'tv_size': jm_size,
              'item_price' : item_price,
              'item_old_price': item_old_price,
              'item_discount' : item_discount
              }

In [174]:
# creating a dataframe of the jumia data

jumia_final = pd.DataFrame(jumia_dict)

In [175]:
# jumia new cleaned dataframed
jumia_final.head()

,brand,item_description,tv_size,item_price,item_old_price,item_discount
0,vitron,"vitron 4368fs,43"" inch fhd smart android tv ne...",43,24999,40150,0.38
1,weyon,weyon 32 inch android smart led tv - black,32,13190,26000,0.49
2,vitron,"vitron htc3200s,32 inch frameless smart androi...",-,14798,25000,0.41
3,trinity,"trinity tr-3258s 32"" inch smart android tv net...",32,13399,25000,0.46
4,vitron,"vitron 4368fs,43"" inch smart android tv 1gbram...",43,25999,45000,0.42

In [186]:
jumia_final_1 = jumia_final[~(jumia_final['tv_size'] == '-')]

Skygarden Data

In [59]:
# loading skygarden dataframe from skygarden_1
sky = skygarden()

In [60]:
# splitting long item description on item name column to get brand name
item_1 = sky['item_name'].str.split(' ')

In [61]:
# creating brand column
brand = []

for z in item_1:
    brand.append(z[0].lower())

In [62]:
# creating item_description column from item_name
item_2 = sky['item_name']
item_description = []

for y in item_2:
    item_description.append(y)

In [63]:
#removing ksh from the item_price
item_3 = sky['item_price'].str.split(' ')

In [64]:
item_price = []
for x in  item_3:
    item_price.append(x[0].replace(',',''))
len(item_price)

91

In [65]:
item_4 = sky['item_old_price'].str.split(' ')

In [66]:
# Creating item_old_price column
item_old_price = []

for w in  item_3:
    item_old_price.append(w[-2].replace(',',''))

In [67]:
# Removing % sign from the item_dicount column
item_5 = sky['item_discount'].str.strip('%')

In [68]:
# Removing - sign from the discount column
item_6 = item_5.str.strip('-')

In [69]:
# Creating dicsount coulmn
item_discount = []

for v in item_6:
    try:
        dec = int(v)/100
    except:
        dec = 0
    item_discount.append(dec)

In [70]:
#Getting tv size from the item description using regular expressions

pattern = '\s(\d{2})|(\d{2})"'
size_sky = []

for i in item_description:
    k = re.findall(pattern, i)
    size_sky.append(k)
    
sky_size = []

for i in size_sky:
    try:
        x, y = i[0]
        x_1 = int(x+y)/1
        sky_size.append(x_1)
    except:
        x, y = '-', '-'
        sky_size.append(x)

In [71]:
# joining the cleaned skygarden data columns using a dict
sky_dict = {'brand': brand,
             'item_description': item_description,
             'tv_size': sky_size,
             'item_price': item_price,
             'item_old_price': item_old_price,
             'item_discount': item_discount
             }

In [158]:
# creating a dataframe of the skygarden data
sky_final = pd.DataFrame(sky_dict)

In [144]:
len(sky_final)

91

In [184]:
sky_final_1 = sky_final[~(sky_final['tv_size'] == '-')]

Kilimall Data

In [75]:
# Loading kilimall dataframe
mall = mall()

TypeError: 'DataFrame' object is not callable

In [76]:
#loading kilimall data.
mall.head()

,item_name,item_price,item_old_price,item_discount
0,Hisense 32A4G 32 inches Smart Frameless Full H...,"KSh 22,299","KSh 23,999",7% Off
1,LG 55'' 55UP77550 UHD 4K TV HDR WebOS Smart AI...,"KSh 76,500","KSh 95,800",20% Off
2,Hisense 55'' Smart UHD 4K Frameless LED TV 202...,"KSh 60,999","KSh 100,000",39% Off
3,"TRINITY 32"" SMART ANDROID HD TV-YOUTUBE/NETFLI...","KSh 13,900","KSh 21,000",33% Off
4,"NEW Vitron HTC5568S,55"" Inches 4K UHD Smart An...","KSh 42,999","KSh 55,000",21% Off

In [77]:
# Getting brand name from the item description under item_name column
item_1 = mall['item_name'].str.split(' ')
brand = []
for i in item_1:
    brand.append(i[0].lower())

In [78]:
# removing ksh from the item_price column and creating item_price column
item_2 = mall['item_price'].str.split(' ')
item_price = []
for i in item_2:
    item_price.append(i[1].replace(',',''))

In [79]:
# removing ksh from the item_old_price column and creating item_old_price column
item_3 = mall['item_old_price'].str.split(' ')
item_old_price = []

for i in item_3:
    item_old_price.append(i[1].replace(',',''))

In [80]:
item_4 = mall['item_name']

In [81]:
# creating item description column
item_4 = mall['item_name']
item_description = []
for i in item_4:
    item_description.append(i)

In [82]:
item_5 = mall['item_discount'].str.split('%')

In [83]:
# removing % sign from item_discount and creating item_discount column
item_5 = mall['item_discount'].str.split('%')
item_discount = []
for i in item_5:
    try:
        discount = int(i[0])/100
    except:
        discount = 0
    item_discount.append(discount)

In [85]:
#getting tv size from item description                               
size = []

for i in item_description:
    s = re.findall(pattern, i)
    size.append(s)
    
mall_size = []

for i in size:
    try:
        x, y = i[0]
        x_1 = int(x+y)/1
        mall_size.append(x_1)
    except:
        x, y = '-', '-'
        mall_size.append(x)

In [86]:
# joining the cleaned kilimall data columns using a dict
mall_dict = {'brand': brand,
             'item_description': item_description,
             'tv_size': mall_size,
             'item_price': item_price,
             'item_old_price': item_old_price,
             'item_discount': item_discount
            }

In [87]:
# creating a dataframe of the kilimall data
kilimall_final = pd.DataFrame(mall_dict)

In [187]:
kilimall_final.head()

,brand,item_description,tv_size,item_price,item_old_price,item_discount
0,hisense,Hisense 32A4G 32 inches Smart Frameless Full H...,32,22299,23999,0.07
1,lg,LG 55'' 55UP77550 UHD 4K TV HDR WebOS Smart AI...,55,76500,95800,0.20
2,hisense,Hisense 55'' Smart UHD 4K Frameless LED TV 202...,55,60999,100000,0.39
3,trinity,"TRINITY 32"" SMART ANDROID HD TV-YOUTUBE/NETFLI...",32,13900,21000,0.33
4,new,"NEW Vitron HTC5568S,55"" Inches 4K UHD Smart An...",55,42999,55000,0.21

In [189]:
kilimall_final_1 = kilimall_final[~(kilimall_final['tv_size'] == '-')]

In [46]:
# creating sqlite database connection
#engine = sqlalchemy.create_engine('sqlite:///ecommerce.db')

In [47]:
# exporting the data to ecommerce database tables
#jumia_final.to_sql('jumia', engine, if_exists= 'replace', index=False)
#sky_final.to_sql('kilimall', engine, if_exists= 'replace', index=False)
#kilimall_final.to_sql('sky_garden', engine, if_exists= 'replace', index=False)

In [48]:
# server = '(LocalDB)\ecommerce'
# database = 'ecommerce'
# driver = 'ODBC Driver 17 for SQL Server'
# username = 'ecommerce'
# password = '1234'
# con = f'mssql://{username}:{password}@{server}/{database}?driver={driver}'

In [49]:
# engine = create_engine(con)
# connection = engine.connect()

In [50]:
#jumia_final.to_sql('jumia', connection, if_exists='append', index=False)

In [51]:
sky_final_1

,brand,item_description,item_price,item_old_price,item_discount
0,jzdc3s,JZDC3S Complete Solar Deep Well Pump Solar Irr...,26352,26352,0.0
1,vision,"VISION PLUS VP8843KV 43"" 4K FRAMELESS V+ OS SM...",39000,39000,0.0
2,vision,Vision Plus VP2110SB Sound Bar 110 Watts RMS,10097,10097,0.0
3,vision,Vision Plus VP8832DF 3 Digital TV+FREE WALL MOUNT,24367,24367,0.0
4,strong,Strong Comfortable Plastic Chair With Metal Tu...,1750,1750,0.0
...,...,...,...,...,...
86,vision,Vision 32D Frameless,12999,12999,0.0
87,hisense,Hisense 70A7100F 70 Inch 4K UHD Smart TV,185775,185775,0.0
88,samsung,"SAMSUNG QA85QN85AAU 85"" 4K NEO Q LED 4K, AU SE...",755995,755995,0.0
89,hisense,"Hisense 50 4K UHD LATEST SMART ANDROID TV,VOIC...",65880,65880,0.0
90,vitron,"Vitron 39 Inch Digital, HTC3946- Picture Quali...",29999,29999,0.0

In [52]:
kilimall_final_1

,brand,item_description,item_price,item_old_price,item_discount
0,hisense,Hisense 32A4G 32 inches Smart Frameless Full H...,22299,23999,0.07
1,lg,LG 55'' 55UP77550 UHD 4K TV HDR WebOS Smart AI...,76500,95800,0.20
2,hisense,Hisense 55'' Smart UHD 4K Frameless LED TV 202...,60999,100000,0.39
3,trinity,"TRINITY 32"" SMART ANDROID HD TV-YOUTUBE/NETFLI...",13900,21000,0.33
4,new,"NEW Vitron HTC5568S,55"" Inches 4K UHD Smart An...",42999,55000,0.21
...,...,...,...,...,...
155,vixoo,"VIXOO IN-0132ZF,32"" Inch FRAMELESS SMART Andro...",14499,25000,0.42
156,syinix,"Syinix 32S51, 32 Inch FRAMELESS Smart Full HD ...",14899,18500,0.19
157,tcl,TCL 55C635 55'' QLED Smart UHD 4K (Google TV) ...,72499,95000,0.23
158,tcl,"TCL 32S65A SMART ANDROID FHD TV, NETFLIX, YOU ...",19799,25500,0.22
159,hisense,Hisense 50''A62GS FRAMELESS 4K ULTRA HD SMART ...,51299,65000,0.21

In [53]:
#sky_final.to_sql('sky_garden', connection, if_exists='append', index=False)

In [54]:
#kilimall_final.to_sql('kilimall', connection, if_exists='append', index=False)